## 6.3.1 Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

`Lists` are constructed with brackets `[]` and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types, different data-types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o',True]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

5

### Indexing and Slicing

Indexing and slicing of lists works just like in Strings. Similar to string, list index starts at 0 and it can be sliced and concatenated and all operations. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5,True]

In [ ]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5, True]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [ ]:
# Negative slicing
my_list[-3]

5

### Updating list element at specific index

In [ ]:
my_list[5] = 6
print("New value at index 5: ", my_list[5])

New value at index 5:  6

We can also use "+" to concatenate lists, just like we did for Strings.

In [ ]:
my_list + ['new item',5]

['one', 'two', 'three', 4, 5, True, 'new item', 5]

>**Note:** This doesn't actually change the original list!

In [ ]:
my_list

['one', 'two', 'three', 4, 5, True]

In this case, you have to reassign the list to make the permanent change.

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, True, 'add new item permanently']

### Repetition of list

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently']

In [ ]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, True, 'add new item permanently']

### Basic List Methods

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

**a.** They have no fixed size (which means we need not to specify how big the list will be)

**b.** They have no fixed type constraint 

Let's go ahead and explore some more special methods for lists:

### len()

length of a list can be calculated using in built `len()`

In [ ]:
l = [45,6,7,5,"ineuron",True,False,35,62.56]
len(l)

9

### Check membership in a list

In [ ]:
# check if 5 exists in list l
5 in l

True

### max()

We can find max value from a given list

In [ ]:
list1 = ["iNeuron","Datascience","Big-data","Analytics"]
list2 = [5,6,2,9,7,5,0]
print(max(list1))
print(max(list2))

iNeuron
9

In [ ]:
# In python 3, you can't find max with different data-types in a list
print(max([1,2,"ineuron"]))

TypeError: '>' not supported between instances of 'str' and 'int'

### min()

We can find min value from a given list

In [ ]:
list1 = ["iNeuron","Datascience","Big-data","Analytics"]
list2 = [5,6,2,9,7,5,0]
print(min(list1))
print(min(list2))

Analytics
0

In [ ]:
# In python 3, you can't find min with different data-types in a list
print(min([1,2,"ineuron"]))

TypeError: '<' not supported between instances of 'str' and 'int'

There is another `list()` method which will helpful to convert tuple into list, which we will look when we will talk about tuple section. Just giving a brief idea, tuple is similar to list but tuple are unmutable means we can't change value of elements and they can define using () bracket. We will look into this in future topics.

### Append()

In [ ]:
# Create a new list
l = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
l.append('append me!')

In [ ]:
# Show
l

[1, 2, 3, 'append me!']

### pop()

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
l.pop(0)

1

In [ ]:
# Show
l

[2, 3, 'append me!']

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [ ]:
popped_item

'append me!'

In [ ]:
# Show remaining list
l

[2, 3]

>**Note:-** lists indexing will return an error if there is no element at that index. For example:

In [ ]:
l[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

## 6.3.2 Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[2][1]

8

We can re-use indexing to grab elements, but now there are two levels for the index. 

**a.** The items in the matrix object

**b.** The items inside the list

In [ ]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

## 6.3.3 ist Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 


Here are few of oue examples which helps you to understand list comprehensions.

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [ ]:
first_col

[1, 4, 7]

In [ ]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
first_col

[1, 4, 7]

In [ ]:
# We can use normal for loop for the above thing and seperate every element in a single list
whole_element = []
for row in matrix:
    for l in row:
        whole_element.append(l)
        
whole_element

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 6.3.4 Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [ ]:
l = [1,2,3]

### append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [ ]:
l.append(4)

l

[1, 2, 3, 4]

### count
We discussed this during the methods lectures, but here it is again. `count()` takes in an element and returns the number of times it occures in your list:

In [ ]:
l.count(10)

0

In [ ]:
l.count(2)

1

### extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [ ]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

**extend: extends list by appending elements from the iterable. It will append content of list elements to the existing list**

In [ ]:
x = [1, 2, 3]
x.extend('ty')
print(x)

[1, 2, 3, 't', 'y']

In [ ]:
l1 = ["ineuron","DS","AI"]
l2 = list(range(5))
print("extended list")
l1.extend(l2)
l1

extended list

['ineuron', 'DS', 'AI', 0, 1, 2, 3, 4]

>**Note:-** how extend append each element in that iterable. That is the key difference.

### index

`index` returns the lowest index of element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [ ]:
l.index('append me!')

ValueError: 'append me!' is not in list

In [ ]:
l

[1, 2, 3, 'new element', 'new element', 6, 3, 'inserted']

In [ ]:
l.index(4)

3

In [ ]:
l = [1,2,3,6,3]
l.index(3)

2

### insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l.insert(3,"new element")
l

[1, 2, 3, 'new element', 4, 5]

In [ ]:
# Place a letter at the index 2
l.insert(100,'inserted')

In [ ]:
l[100]

IndexError: list index out of range

### pop
You most likely have already seen `pop()`, which allows us to "pop" off the last element of a list.

In [ ]:
l= [1,2,3,45,5,6]
l

[1, 2, 3, 45, 5, 6]

In [ ]:
pop1 = l.pop()

In [ ]:
# Last element of a list if not specified
pop1

6

In [ ]:
l

[1, 2, 3, 45, 5]

In [ ]:
ele = l.pop(1)

In [ ]:
l

[1, 3, 45, 5]

In [ ]:
ele

2

### remove

The `remove()` method removes the first occurrence of a value. For example:

In [ ]:
l

[1, 3, 45, 5]

In [ ]:
l.remove(5)

In [ ]:
l

[1, 3, 45]

In [ ]:
l = [1,2,3,4,3]

In [ ]:
# If we have same element coming multiple times, it will remove first occuring element only
l.remove(3)

In [ ]:
l

[1, 2, 4, 3]

### reverse

As the name suggests, `reverse()` helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [ ]:
l.reverse()

In [ ]:
l

[3, 4, 2, 1]

### sort

`sort` will sort your list in place:

In [ ]:
l

[3, 4, 2, 1]

In [ ]:
l.sort()

In [ ]:
l

[1, 2, 3, 4]

In [ ]:
l = [0,1,2,"abc","DS","ineuron"]

In [ ]:
# Sorting can be done using same types of data in a list
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### Iterating through a string by using list Comprehension

In [ ]:
# Without using list comprehension
letter = []
for ch in 'iNeuron':
    letter.append(ch)
letter

['i', 'N', 'e', 'u', 'r', 'o', 'n']

In [ ]:
# With using list comprehension
letter = [ ch for ch in 'iNeuron' ]
print(letter)

['i', 'N', 'e', 'u', 'r', 'o', 'n']

Use of conditional statements using list comprehension

In [ ]:
#Without list comprehension
l=[]
for i in range(20):
    if i%2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# With list comprehension
number = [ i for i in range(20) if i % 2 == 0]
print(number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
l = []
for i in range(20):
    if i%2 != 0:
        l.append("Odd")
    else:
        l.append("Even")
l

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [ ]:
# if else in list comprehension
odd_even = ["Odd" if i%2!=0 else "Even" for i in range(20)]
odd_even

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [ ]:
# Nested for loop without list comprehention
matrix = []
for i in range(3):
    matrix.append([])
    for j in range(3):
        matrix[i].append(j)

matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Nested for loop with list comprehention
matrix_with_List_Comp = [[j for j in range(3)] for i in range(3)]
matrix_with_List_Comp

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Nested conditions
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [ ]:
l = []
for i in range(8):
    if i%2 ==0:
        if i%3 == 0:
            l.append(i)
l

[0, 6]

In [ ]:
# For if elif else
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
['yes' if i == 1 else 'no' if i == 2 else 'idle' for i in l]

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = []
for i in l:
    if i == 1:
        res.append("yes")
    elif i == 2:
        res.append("no")
    else:
        res.append("idle")
        
res

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']